<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="/lib/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/lib/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Twitter</h1>
        </div>
        <div class="row">
            <div class="six columns">
                <h2>Login</h2>
                <form action="/login" method="post">
                    <p>
                        <label>Username</label>
                        <input type="text" name="username" class="u-full-width">
                    </p>
                    <p>
                        <label>password</label>
                        <input type="password" name="password" class="u-full-width">
                    </p>
                    <p>
                        <button class="button-primary">Log In</button>
                    </p>
                </form>
            </div>
            <div class="six columns">
                <h2>Sign Up</h2>
                <form action="/signup" method="post">
                    <p>
                        <label>Full Name</label>
                        <input type="text" name="fullname" class="u-full-width">
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="email" name="email" class="u-full-width">
                    </p>
                    <p>
                        <label>Username</label>
                        <input type="text" name="username" class="u-full-width">
                    </p>
                    <p>
                        <label>password</label>
                        <input type="password" name="password" class="u-full-width">
                    </p>
                    <p>
                        <button class="button-primary">Sign Up</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
